In [1]:
import pandas as pd
import numpy as np

# Data load

In [2]:
df1=pd.read_csv('도로교통공단_전국_사망교통사고정보(2018)_20190910.csv',encoding="cp949")
df2=pd.read_csv('도로교통공단_전국사망교통사고_2017.csv',encoding="cp949")
df3=pd.read_csv('2016년_교통사망사고정보.csv',encoding="cp949")
df4=pd.read_csv('도로교통공단_전국_사망교통사고정보(2015)_20190910.csv',encoding="cp949")

In [3]:
pd.set_option('display.max_columns', None)

# Modifying & Drop columns

In [4]:
df1 = df1.drop(df1.columns[[8,12,18,20,22,23]], axis=1)
df1.head(1)

,발생년,발생년월일시분,주야,요일,사망자수,사상자수,중상자수,경상자수,발생지시도,발생지시군구,사고유형_대분류,사고유형,법규위반_대분류,법규위반,도로형태_대분류,도로형태,가해자_당사자종별,피해자_당사자종별,경도,위도
0,2018,2018-02-14 06:35,주,수,1,1,0,0,서울,서대문구,차대사람,횡단중,운전자법규위반,안전운전 의무 불이행,단일로,기타단일로,승용차,보행자,126.939274,37.590388

In [5]:
#df1[df1['발생년월일시분'].str.contains("2018-02")]

In [6]:
df2 = df2.drop(df2.columns[[2,9,13,20,22,23,24]], axis=1)
df2.rename(columns={"발생년월일시":"발생년월일시분","당사자종별_1당_대분류":"가해자_당사자종별","당사자종별_2당_대분류":"피해자_당사자종별"}, inplace = True)
df2.head(1)

,발생년,발생년월일시분,주야,요일,사망자수,사상자수,중상자수,경상자수,발생지시도,발생지시군구,사고유형_대분류,사고유형,법규위반_대분류,법규위반,도로형태_대분류,도로형태,가해자_당사자종별,피해자_당사자종별,경도,위도
0,2017,2017-01-01 01:00,야간,일,1,2,1,0,전남,장성군,차대차,기타,운전자법규위반,안전운전 의무 불이행,단일로,기타단일로,승용차,승용차,126.768634,35.294464

In [7]:
df3 = df3.drop(df3.columns[[2,9,13,20,22,23,24]], axis=1)
df3.rename(columns={"발생년월일시":"발생년월일시분","당사자종별_1당_대분류":"가해자_당사자종별","당사자종별_2당_대분류":"피해자_당사자종별"}, inplace = True)

In [8]:
df4 = df4.drop(df4.columns[[8,12,19,21,22,23]], axis=1)
df4.rename(columns={"가해자_당사자종별_대분류":"가해자_당사자종별","피해자_당사자종별_대분류":"피해자_당사자종별"}, inplace = True)

In [9]:
df12=pd.concat([df1,df2],ignore_index=True)
df34=pd.concat([df3,df4],ignore_index=True)
df=pd.concat([df12,df34],ignore_index=True)

In [10]:
df.shape

(16288, 20)

In [11]:
df['발생월']=df['발생년월일시분'].apply(lambda e: e.split('-')[1])
df['발생일']=df['발생년월일시분'].apply(lambda e: e.split('-')[2])
df['발생일']=df['발생일'].apply(lambda e: e.split()[0])
df['발생시']=df['발생년월일시분'].apply(lambda e: e.split()[1])
df['발생시']=df['발생시'].apply(lambda e: e.split(':')[0])
df['발생월']=df['발생월'].astype(str).astype(int)
df['발생일']=df['발생일'].astype(str).astype(int)
df['발생시']=df['발생시'].astype(str).astype(int)

In [12]:
df = df.drop(df.columns[[1]], axis=1)

In [13]:
df.tail(5)

,발생년,주야,요일,사망자수,사상자수,중상자수,경상자수,발생지시도,발생지시군구,사고유형_대분류,사고유형,법규위반_대분류,법규위반,도로형태_대분류,도로형태,가해자_당사자종별,피해자_당사자종별,경도,위도,발생월,발생일,발생시
16283,2015,주,목,1,4,3,0,충남,당진시,차량단독,공작물충돌,운전자법규위반,안전운전 의무 불이행,단일로,기타단일로,승용차,없음,126.585505,36.851561,12,31,6
16284,2015,주,목,1,6,3,2,경북,영천시,차대차,정면충돌,운전자법규위반,안전운전 의무 불이행,단일로,교량위,승용차,화물차,128.946486,35.974254,12,31,11
16285,2015,주,목,1,1,0,0,서울,서대문구,차대사람,차도통행중,운전자법규위반,안전운전 의무 불이행,교차로,교차로내,화물차,보행자,126.917914,37.571086,12,31,15
16286,2015,야,목,1,1,0,0,충남,서산시,차대사람,횡단중,운전자법규위반,안전운전 의무 불이행,단일로,기타단일로,승용차,보행자,126.464905,36.774807,12,31,18
16287,2015,야,목,1,1,0,0,충남,천안시,차대사람,기타,운전자법규위반,안전운전 의무 불이행,단일로,기타단일로,화물차,보행자,127.215562,36.912937,12,31,22

In [14]:
df.shape

(16288, 22)

데이터 중 피해자_당사자종별이 nan인 경우, 없음으로 변경하기

In [15]:
df['피해자_당사자종별']=np.where(df['피해자_당사자종별'].isnull(), '없음', df['피해자_당사자종별'])

# Explore Data

In [16]:
value_counts = df['발생년'].value_counts(dropna=True, sort=True)
df_year = value_counts.rename_axis('year').to_frame('counts')
df_year.to_csv("df_year.csv",encoding='ms949')

2018년 설, 추석 데이터 추출

In [17]:
df_2018_2=df[(df['발생월']==2) & (df['발생년']==2018)]
df_2018_surl_4=df_2018_2[(df_2018_2['발생일']>=14) & (df_2018_2['발생일']<=17)]

df_2018_9=df[(df['발생월']==9) & (df['발생년']==2018)]
df_2018_chuseok_4=df_2018_9[(df_2018_9['발생일']>=22) & (df_2018_9['발생일']<=25)]

In [18]:
num_2018_2,col_2018_2=df_2018_2.shape
num_2018_2_avg=num_2018_2/28

num_2018_surl_4,col_2018_surl_4=df_2018_surl_4.shape
num_2018_surl_4_avg=num_2018_surl_4/4

In [19]:
num_2018_9,col_2018_9=df_2018_9.shape
num_2018_9_avg=num_2018_9/31

num_2018_chuseok_4,col_2018_chuseok_4=df_2018_chuseok_4.shape
num_2018_chuseok_4_avg=num_2018_chuseok_4/4

2017년 설, 추석 데이터 추출

In [20]:
df_2017_1=df[(df['발생월']==1) & (df['발생년']==2017)]
df_2017_surl_4=df_2017_1[(df_2017_1['발생일']>=26) & (df_2017_1['발생일']<=29)]

df_2017_10=df[(df['발생월']==10) & (df['발생년']==2017)]
df_2017_chuseok_4=df_2017_10[(df_2017_10['발생일']>=2)&(df_2017_10['발생일']<=5)]

In [21]:
num_2017_1,col_2017_1=df_2017_1.shape
num_2017_1_avg=num_2017_1/31

num_2017_surl_4,col_2017_surl_4=df_2017_surl_4.shape
num_2017_surl_4_avg=num_2017_surl_4/4

In [22]:
num_2017_10,col_2017_10=df_2017_10.shape
num_2017_10_avg=num_2017_10/30

num_2017_chuseok_4,col_2017_chuseok_4=df_2017_chuseok_4.shape
num_2017_chuseok_4_avg=num_2017_chuseok_4/4

2016년 설, 추석 데이터 추출

In [23]:
df_2016_2=df[(df['발생월']==2) & (df['발생년']==2016)]#윤년
df_2016_surl_4=df_2016_2[(df_2016_2['발생일']>=6)&(df_2016_2['발생일']<=9)]

df_2016_9=df[(df['발생월']==9) & (df['발생년']==2016)]
df_2016_chuseok_4=df_2016_9[(df_2016_9['발생일']>=13)&(df_2016_9['발생일']<=16)]

In [24]:
num_2016_2,col_2016_2=df_2016_2.shape
num_2016_2_avg=num_2016_2/29 #윤년

num_2016_surl_4,col_2016_surl_4=df_2016_surl_4.shape
num_2016_surl_4_avg=num_2016_surl_4/4

In [25]:
num_2016_9,col_2016_9=df_2016_9.shape
num_2016_9_avg=num_2016_9/31

num_2016_chuseok_4,col_2016_chuseok_4=df_2016_chuseok_4.shape
num_2016_chuseok_4_avg=num_2016_chuseok_4/4

2015년 설, 추석 데이터 추출

In [26]:
df_2015_2=df[(df['발생월']==2) & (df['발생년']==2015)]
df_2015_surl_4=df_2015_2[(df_2015_2['발생일']>=17)&(df_2015_2['발생일']<=20)]

df_2015_9=df[(df['발생월']==9) & (df['발생년']==2015)]
df_2015_chuseok_4=df_2015_9[(df_2015_9['발생일']>=25)&(df_2015_9['발생일']<=28)]

In [27]:
num_2015_2,col_2015_2=df_2015_2.shape
num_2015_2_avg=num_2015_2/28 

num_2015_surl_4,col_2015_surl_4=df_2015_surl_4.shape
num_2015_surl_4_avg=num_2015_surl_4/4

In [28]:
num_2015_9,col_2015_9=df_2015_9.shape
num_2015_9_avg=num_2015_9/31

num_2015_chuseok_4,col_2015_chuseok_4=df_2015_chuseok_4.shape
num_2015_chuseok_4_avg=num_2016_chuseok_4/4

추출한 데이터 Data frame으로 변경 후 csv파일로 내보내기

In [29]:
df_total_surl = pd.DataFrame({
    'year':[2015,2016,2017,2018],
    'total':[num_2015_2,num_2016_2,num_2017_1,num_2018_2],
    'surl': [num_2015_surl_4,num_2016_surl_4,num_2017_surl_4,num_2018_surl_4],
    'total-surl':[num_2015_2-num_2015_surl_4,num_2016_2-num_2016_surl_4,num_2017_1-num_2017_surl_4,num_2018_2-num_2018_surl_4]})
df_total_surl = df_total_surl.set_index('year')
df_total_surl.to_csv("df_total_surl.csv",encoding='ms949')

In [30]:
df_total_chuseok = pd.DataFrame({
    'year':[2015,2016,2017,2018],
    'total':[num_2015_9,num_2016_9,num_2017_10,num_2018_9],
    'chuseok': [num_2015_chuseok_4,num_2016_chuseok_4,num_2017_chuseok_4,num_2018_chuseok_4],
    'total-chuseok':[num_2015_9-num_2015_chuseok_4,num_2016_9-num_2016_chuseok_4,num_2017_10-num_2017_chuseok_4,num_2018_9-num_2018_chuseok_4]})
df_total_chuseok = df_total_chuseok.set_index('year')
df_total_chuseok.to_csv("df_total_chuseok.csv",encoding='ms949')

In [31]:
df_surl_death = pd.DataFrame({
    'year':[2015,2016,2017,2018],
    'total':[df_2015_2['사망자수'].sum(),df_2016_2['사망자수'].sum(),df_2017_1['사망자수'].sum(),df_2018_2['사망자수'].sum()],
    'surl': [df_2015_surl_4['사망자수'].sum(),df_2016_surl_4['사망자수'].sum(),df_2017_surl_4['사망자수'].sum(),df_2018_surl_4['사망자수'].sum()],
    'total-surl':[df_2015_2['사망자수'].sum()-df_2015_surl_4['사망자수'].sum(),df_2016_2['사망자수'].sum()-df_2016_surl_4['사망자수'].sum(),df_2017_1['사망자수'].sum()-df_2017_surl_4['사망자수'].sum(),df_2018_2['사망자수'].sum()-df_2018_surl_4['사망자수'].sum()]
    })
df_surl_death = df_surl_death.set_index('year')
df_surl_death.to_csv("df_surl_death.csv",encoding='ms949')

In [32]:
df_chuseok_death = pd.DataFrame({
    'year':[2015,2016,2017,2018],
    'total':[df_2015_9['사망자수'].sum(),df_2016_9['사망자수'].sum(),df_2017_10['사망자수'].sum(),df_2018_9['사망자수'].sum()],
    'chuseok': [df_2015_chuseok_4['사망자수'].sum(),df_2016_chuseok_4['사망자수'].sum(),df_2017_chuseok_4['사망자수'].sum(),df_2018_chuseok_4['사망자수'].sum()],
    'total-chuseok':[df_2015_9['사망자수'].sum()-df_2015_chuseok_4['사망자수'].sum(),df_2016_9['사망자수'].sum()-df_2016_chuseok_4['사망자수'].sum(),df_2017_10['사망자수'].sum()-df_2017_chuseok_4['사망자수'].sum(),df_2018_9['사망자수'].sum()-df_2018_chuseok_4['사망자수'].sum()]
    })
df_chuseok_death = df_chuseok_death.set_index('year')
df_chuseok_death.to_csv("df_chuseok_death.csv",encoding='ms949')

In [33]:
df_surl_12=pd.concat([df_2015_surl_4,df_2016_surl_4],ignore_index=True)
df_surl_34=pd.concat([df_2017_surl_4,df_2018_surl_4],ignore_index=True)
df_surl=pd.concat([df_surl_12,df_surl_34],ignore_index=True)

df_chuseok_12=pd.concat([df_2015_chuseok_4,df_2016_chuseok_4],ignore_index=True)
df_chuseok_34=pd.concat([df_2017_chuseok_4,df_2018_chuseok_4],ignore_index=True)
df_chuseok=pd.concat([df_chuseok_12,df_chuseok_34],ignore_index=True)

사고 발생 원인 유형 추출 및 csv파일로 내보내기

In [34]:
value_counts = df['법규위반'].value_counts(dropna=True, sort=True)
df_breach = value_counts.rename_axis('breach').to_frame('counts')
df_breach =df_breach .head(4)
df_breach.to_csv("df_breach.csv",encoding='ms949')

In [35]:
value_counts = df_surl['법규위반'].value_counts(dropna=True, sort=True)
df_surl_breach = value_counts.rename_axis('breach').to_frame('counts')
df_surl_breach =df_surl_breach.head(4)
df_surl_breach.to_csv("df_surl_breach.csv",encoding='ms949')

In [36]:
value_counts = df_chuseok['법규위반'].value_counts(dropna=True, sort=True)
df_chuseok_breach = value_counts.rename_axis('breach').to_frame('counts')
df_chuseok_breach =df_chuseok_breach.head(4)
df_chuseok_breach.to_csv("df_chuseok_breach.csv",encoding='ms949')

월별 사망사고 건수 평균과 명절연휴의 사망사고 건수 평균 데이터 추출 및 csv파일로 내보내기

In [37]:
df_avg_surl = pd.DataFrame({
    'year':[2015,2016,2017,2018],
    'total':[num_2015_2_avg,num_2016_2_avg,num_2017_1_avg,num_2018_2_avg],
    'surl': [num_2015_surl_4_avg,num_2016_surl_4_avg,num_2017_surl_4_avg,num_2018_surl_4_avg]})
df_avg_surl = df_avg_surl.set_index('year')
df_avg_surl.to_csv("df_avg_surl.csv",encoding='ms949')

In [38]:
df_avg_chuseok = pd.DataFrame({
    'year':[2015,2016,2017,2018],
    'total':[num_2015_9_avg,num_2016_9_avg,num_2017_10_avg,num_2018_9_avg],
    'chuseok': [num_2015_chuseok_4_avg,num_2016_chuseok_4_avg,num_2017_chuseok_4_avg,num_2018_chuseok_4_avg]})
df_avg_chuseok = df_avg_chuseok.set_index('year')
df_avg_chuseok.to_csv("df_avg_chuseok.csv",encoding='ms949')